/* All Styles */

header.topbar {
    position: fixed;
    width: 100%;
}

aside.left-sidebar {
    position: fixed;
}

#main-wrapper .page-wrapper {
    margin-left: 250px;
    margin-top: 60px;
}

@media (max-width: 766px) {
    #main-wrapper .page-wrapper {
        margin-left: 0px;
        margin-top: 60px;
    }
}

.media-wrapper {
    margin-top: 20px;
}
.f-span-text {
    font-size: 12px;
    color: #666666;
    font-style: italic;
}

.ar-bt-pos {
    position: absolute;
    top: 42px;
    left: 115px;
    z-index: 1;
}
div#cat_success {
    margin: 0;
}
.catdelcolor {
    background-color: #ffa394 !important;
}